@import '../scss/variables.scss';
$navPadding: 1.5rem;
$imageWidth: 20px;
$imageRightMargin: 1rem;
$scrollbarWidth: 10px;

.drawer-holder{
    height: calc(100vh - #{$headerHeight});
    padding: 0.1rem;
    overflow-y: auto;
    flex-shrink: 0;
    border-right: $borderStyle2;
}
.drawer{
    flex-grow: 1;
    margin-right: $scrollbarWidth;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: $sidePaddings;
    scrollbar-width: $scrollbarWidth;
    .drawer-nav{
        display: flex;
        align-items: center;
        height: 40px;
        padding: $navPadding;
        border-radius: 5px;
        text-align: start;
        width: $drawerWidth;
        font-size: 0.9rem;
        cursor: pointer;
        img{
            height: 20px;
            width: $imageWidth;
            margin-right: $imageRightMargin;
        }
        div{
            color: $darkGray;
        }
        &:hover{
            background-color: $fillColor;
            div{
                color: $mainColor;
            }
        }
    }

    .sub-nav{
        padding: $navPadding;
    }
    .sub-sub-nav{
        padding: $navPadding;
    }
}