@import '../scss/variables.scss';
$navPadding: 1.2rem;
$imageSize: 20px;
$imageRightMargin: 0.8rem;
$scrollbarWidth: 10px;
$borderRadius: 5px;
.drawer-holder{
    height: calc(100vh - #{$headerHeight});
    padding: 0.1rem;
    overflow-y: auto;
    flex-shrink: 0;
    border-right: $borderStyle2;
}
.drawer{
    flex-grow: 1;
    margin-right: $scrollbarWidth;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: $sidePaddings;
    scrollbar-width: $scrollbarWidth;
    .drawer-nav{
        display: flex;
        align-items: center;
        height: 40px;
        padding: $navPadding;
        border-radius: $borderRadius;
        text-align: start;
        width: $drawerWidth;
        font-size: 0.9rem;
        position: relative;
        cursor: pointer;
        justify-content: space-between;
        .drawer-home{
            font-size: $imageSize;
            margin-right: $imageRightMargin;
        }
        .drawer-arrow{
            margin-right: 0;
            margin-left: 0.2rem;
            font-size: 18px;
            transition: transform 100ms ease-in-out;
        }
        .drawer-nav-content{
            display: flex;
            align-items: center;
        }
    }
    a{
        display: flex;
        border-radius: $borderRadius;
        &:hover,
        &:focus{
            background-color: $fillColor;
            div{
                color: $mainColor;
            }
        }
    }

    .sub-nav{
        padding: $navPadding;
        padding-left: calc(#{$navPadding} + #{$imageSize} + #{$imageRightMargin});
    }
    .sub-sub-nav{
        padding: $navPadding;
        padding-left: calc(#{$navPadding} + #{$imageSize} + #{$imageRightMargin} + 10px);
    }
}

.drawer-nav-text{
    color: $darkGray;
}

.drawer-nav-active{
    background-color: $fillColor;
    div{
        color: $mainColor;
    }
}