// @use "sass:math";
@import '../scss/variables.scss';
$contentHeight: 46px;
$blue: #26bec0;
$burgerHeight: 20px;
$burgerWidth: 35px;



@function burgerOuter($burgerH: $burgerHeight, $burgerW: $burgerWidth){
    $burgerDim: 1px;
    @if $burgerH > $burgerW {
        $burgerDim: 1.5 * $burgerH;
    }
    @else {
        $burgerDim: 1.5 * $burgerW;
    }
    @return $burgerDim;
}

.header-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $sidePaddings;
    height: $headerHeight;
    border-bottom: $borderStyle2;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    top: 0;
    background-color: white;
    .header-left,
    .header-right{
        display: flex;
    }
    .header-left{
        display: flex;
        align-items: center;
        .header-burger-container{
            height: burgerOuter();
            display: flex;
            align-items: center;
            justify-content: center;
            width: burgerOuter();
            border-radius: 50%;
            &:active{
                background-color: $strokeColor;
            }
        }
        .header-burger{
            height: $burgerHeight;
            width: $burgerWidth;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            div{
                width: 100%;
                height: 4px;
                background-color: $lightBlue;
                border-radius: 1px;
            }
        }
        img{
            height: $contentHeight;
            margin-right: 3.5em;
            height: $headerHeight;
            cursor: pointer;
        }
    }
}

.header-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        margin-right: 1em;
    }
    .header-search{
        position: relative;
        input {
            width: 100%;
            height: $contentHeight;
            padding-left: $contentHeight;
            border-radius: $contentHeight;
            outline: none;
            border: $borderStyle1;
        }
        .header-search-icon{
            font-size: 20px;
            color: $darkGray;
            position: absolute;
            z-index: 2;
            left: 15px;
            top: 25%;
            height: 60%;
        }
    }

    .header-noti{
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: $contentHeight;
        width: $contentHeight;
        border: $borderStyle1;
        cursor: pointer;
        .noti-icon{
            font-size: 25px;
            color: $darkGray;
        }

        div{
            position: absolute;
            background-color: $mainColor;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            top: 22%;
            left: 60%;
            z-index: 2;
            outline: 1px solid white;
        }
    }

    .header-verti-line{
        width: 2px;
        height: $contentHeight;
        background-color: #a9a9a9;
    }

    .header-profile{
        width: $contentHeight;
        height: $contentHeight;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }
}