
//colors

$strokeColor: #dfe1e6;
$mainColor: #26bec0;
$fillColor: #ebecf0;
$blueBlack: #647187;
$parrot: #126c6d;
$lightBlue: #44abf8;
$darkGray: #656565;
$backgroundColor: #f8f8f8;


//dimensions

$drawerWidth: 210px;
$sidePaddings: 2rem;
$headerHeight: 67px;

//styles

$borderStyle2: 2px solid #f1f1f1;
$borderStyle1: 1px solid #f1f1f1;

//font
$bold: 700;
$medium: 500;
$light: 400;